<div id="frame">
    <div id="frameTitle">
          <H2>PANEL DE CONTROL</H2>
          <H3>Categor&iacute;a</H3>
    </div>
    <div id="frameBody">

            <!--FORM TO ADD OR UPDATE A CATEGORY-->
            <div id="frameAdd">
                <div id="form"> 
                        <div *ngIf="showAddForm; else editFormTitle"><p>Nuevo</p></div>
                        <ng-template #editFormTitle><p>Editar</p></ng-template>

                        <form (ngSubmit)="onSubmit()" #saveCategoryForm="ngForm">
                        <div id="label">
                            <label for="name">Nombre</label>
                            <input type="text" id="name" required
                                [(ngModel)]="category.name" name="name"
                                #name="ngModel">
                                <div *ngIf="(submited&&category.name.length==0)"  class="alert alert-danger">
                                    Debes ingresar un nombre
                                </div>
                        </div>


                        <div *ngIf="showAddForm; else editFormButtons">
                            <button type="button" class="submit" (click)="add();">Agregar</button>
                        </div>
                        <ng-template #editFormButtons>
                            <button type="button" id="buttonEdit" (click)="editCategory();">Aceptar</button>
                            <button type="button" id="buttonEdit" (click)="buttonCancelEdit();">Cancelar</button>
                        </ng-template>
                        
                        </form>
                </div>
            </div>

          <!--LIST OF EXISTING MENU TYPE-->
          <div id="frameList">
              <div id="list">
                  <p >Listado</p>
                  <ul>
                      <li *ngFor="let cat of categories">
                      <span id="itemList">{{cat.name}}</span>
                      <button id="buttonList" type="button" (click)="deleteMenuType(cat);"><img src="../../assets/images/deleteW.png"></button>
                      <button id="buttonList" type="button" (click)="buttonEdit(cat);"><img src="../../assets/images/editW.png"></button>
                      </li>
                  </ul>
              </div>
          </div>
    </div>
</div>