<div id="frame">
    <div id="frameTitle">
          <H2>NUEVO RESTAURANT</H2>
          <H3>Creaci&oacute;n de un nuevo restaurant</H3>
    </div>
    <div id="frameBody">

            <!--FORM TO CREATE A RESTAURANT -->
            <div id="frameMain">
                <div id="form">					 
					<form #menuForm="ngForm">
          
			        <!--NAME-->
			        <div id="field">
						<label>Nombre</label>
			            <input type="text" id="input" [(ngModel)]="restaurant.name" name="name">
					</div>
			    
					<!--CATEGORY-->
					<div id="field">
			            <label>Categor&iacute;a</label><br>
			            <select id="input" [(ngModel)]="category.oid" name="category">
			            	<option *ngFor="let category of categories" [value]="category.oid">{{category.name}}</option>
			            </select>
					</div>
			
			 		<!--LOCATION - Latitude & Longitude -->
			        <div id="field">
						<label>Location - Latitude&nbsp;</label>
			            <input type="number" step="0.1" id="input" [(ngModel)]="location.latitude" vaue="0" name="name"><br>
			            <label>Location - Longitude&nbsp;</label>
			            <input type="number" step="0.1" id="input" [(ngModel)]="location.longitude" value="0" name="name">
					</div>
			
					<!--COMMENT FILTER -->
					<div id="field">
			            <label>Comment Filters</label>
			            <div id="input">
			              <label id="checkbox" *ngFor="let cf of commentFilters">
			                  <input type="checkbox" name="cf" [(ngModel)]="cf.selected"/>{{cf.name}} <br>
			              </label>
			            </div>
					</div>
					<br>
					<!--NOTIFICATION FILTER -->
					<div id="field">
			            <label>Notification Filters</label>
			            <div id="input">
			              <label id="checkbox" *ngFor="let nf of notificationFilters">
			                  <input type="checkbox" name="nf" [(ngModel)]="nf.selected"/>{{nf.name}} <br>
			              </label>
			            </div>
			          </div>
			
			          <button type="button" class="submit" (click)="addMenu();">Agregar</button>
			        </form>
					 
					 
                </div>
			</div>
	</div>
</div>