<div id="frame">
    <div id="frameBody">
		    <!--FORM TO CREATE A RESTAURANT -->
            <div id="frameMain">
				<div id="form">			
					<H1>Alta restaurante</H1>		 
					<form #menuForm="ngForm">
          
			        <!--NAME-->
			        <div id="field">
						<label>Nombre</label>
			            <input type="text" id="input" [(ngModel)]="restaurant.name" name="name">
			            <div *ngIf="(submited&&restaurant.name.length==0)"  class="alert alert-danger">
                        	Debes ingresar un nombre
                        </div>
					</div>
			    
					<!--CATEGORY-->
					<div id="field">
			            <label>Categor&iacute;a</label><br>
			            <select id="input" [(ngModel)]="category.oid" name="category">
			            	<option *ngFor="let category of categories" [value]="category.oid">{{category.name}}</option>
			            </select>
					</div>
			
			 		<!--LOCATION - Latitude & Longitude -->
			        <div id="field">
						<label>Latitud</label>
			            <input type="number" step="0.1" id="input" [(ngModel)]="location.latitude" vaue="0" name="name"><br>
			            <label>Longitud</label>
			            <input type="number" step="0.1" id="input" [(ngModel)]="location.longitude" value="0" name="name">
					</div>
			
					<!--COMMENT FILTER -->
					<div id="field">
			            <label>¿Qu&eacute; tipo de Usuario puede comentar?</label>
			            <div id="input">
						  <label id="checkbox"> <input type="checkbox" name="visitor" [(ngModel)]="visitor"/>Visitante<br></label>
						  <label id="checkbox"> <input type="checkbox" name="comensal" [(ngModel)]="comensal"/>Comensal<br></label>
						  <label id="checkbox"> <input type="checkbox" name="gourmet" [(ngModel)]="gourmet"/>Gourmet<br></label>
			            </div>
					</div>
					<br>
					<!--NOTIFICATION FILTER 
					<div id="field">
			            <label>Notification Filters</label>
			            <div id="input">
			              <label id="checkbox" *ngFor="let nf of notificationFilters">
			                  <input type="checkbox" name="nf" [(ngModel)]="nf.selected"/>{{nf.name}} <br>
			              </label>
			            </div>
			          </div>-->
			
			          <button type="button" class="submit" (click)="addRestaurant();">Agregar</button>
			        </form>
					 
					 
                </div>
			</div>
	</div>
</div>