<div id="frame">
    <div id="frameTitle">
          <H2>NUEVO RESTAURANT</H2>
          <H3>Creaci&oacute;n de un nuevo restaurant</H3>
    </div>
    <div id="frameBody">

            <!--FORM TO CREATE A RESTAURANT -->
            <div id="frameMain">
                <div id="form">
                	<!-- 
                	private Long oid; //For Hibernate
					private String name;
					private Category category;
					private List<Menu> menus;
					private Location location;
					private List<Comment> comments;
					private CommentFilter commentFilter;
					private NotificationFilter notificationFilter;
					 -->
                </div>
			</div>
	</div>
</div>