<div id="contentDiv">
  <div id="titleDiv">
      <p>MIS RESTAURANTES
      <a routerLink="/myRestaurants/addRestaurant"><img id="addButton" src="../../assets/images/addButtonB.png"></a>
      </p>
  </div>
  <hr/>
  <div id="restaurantsDiv">
    <div id="restaurantItem">
        <p>MC DONALS</p>
        <p>Fast Food</p>
        <p>Calle 8, entre 50 y 51 - La plata</p>

    </div> 
    <div id="restaurantItem">
        <p>Los panqueques de Carlitos</p>
        <p>Restaurant</p>
        <p>Calle 15, entre 33 y 34 - La plata</p>
    </div> 
    <div id="restaurantItem">
        <p>YAYI</p>
        <p>Pizzeria</p>
        <p>Calle 1, entre 60 y 34 - La plata</p>
    </div>
  </div>
</div>
