<div id="contentDiv">
  <div id="titleDiv">
      <p>MIS RESTAURANTES
      <a routerLink="/myRestaurants/addRestaurant"><img id="addButton" src="../../assets/images/addButtonB.png"></a>
      </p>
  </div>
  <hr/>
  <div id="restaurantsDiv">
    <a *ngFor="let restaurant of restaurants" [routerLink]="['/myRestaurants/restaurant', restaurant.oid]">
        <div id="restaurantItem" class="animated flipInX" >
            <p>{{restaurant.name}}</p>
            <p>{{restaurant.category.name}}</p>
        </div> 
    </a>
  </div>
</div>
