<div id="contentDiv">

        <div id="titleDiv">
            <div id="restoDiv">
                <div id="buttonBackDiv">
                            <button type="button" id="buttonBack" (click)="goBack()"><img src="../../assets/images/back.png" ></button>
                </div>
                <div id="restoItem">
                    <h1> {{restaurant.name}} </h1>
                </div>
            </div>
            <hr>
            <h3>MEN&Uacute;S
                <a routerLink="/myRestaurants/restaurant/{{restaurant.oid}}/addMenu"><img id="addButton" src="../../assets/images/addButtonB.png"></a>
            </h3>
                <hr id="nrMenu"> 
        </div>

        <div id="menusDiv">
            <a *ngFor="let menu of restaurant.menus" routerLink="/myRestaurants/restaurant/{{restaurant.oid}}/menu/{{menu.oid}}">
                <div id="menuItem" class="animated flipInX"  >
                    <p>{{menu.name}}</p>
                </div> 
            </a>
        </div>
        
    
</div>
