<header>
  <div id="menu">
      <div  id="logo">
          <button type="button" id="buttonLogo" (click)="logo();"> RATATOULLIE </button>
      </div>
      <nav>
          <div id="messageError3" *ngIf="problemLogin"><p>{{messageProblemLogin}}</p></div>
          <ul id="loginform">    
              <form (ngSubmit)="logIn()" #logInForm="ngForm">
                <input type="text" placeholder=" Username" name="Username" [(ngModel)]="login.user" required>
                <input type="password" placeholder=" Password" name="Password" [(ngModel)]="login.password" required>
                <button type="submit" id="submit">Ingresar</button>
              </form>
          </ul>
      </nav>
  </div>
</header>

<div id="body"> 
    <div *ngIf="!showSignInForm; else signInForm"><!-- Show introdiction text or register form-->
          <!-- Introdiction text -->
          <h1 class="animated zoomIn">RATATOULLIE</h1>	
          <P class="animated zoomInDown">
              El lugar donde encontraras toda la informaci&oacute;n sobre los mejores restaurantes.
              <br>
              Mira de forma r&aacute;pida y f&aacute;cil los men&uacute;s y platos disponibles.
              <br>
              Comenta - Vota - Recomienda
              <br>
              &uacute;nite a nosotros!
          </P>
          <button type="button" class="animated zoomInDown"  id="buttonForm" (click)="showFormSignIn();">Registrarse</button>
    </div>
    <ng-template #signInForm>
          <div *ngIf="!resultSingin; else showResultSingin"> <!-- Show signin form or signin result message -->
              <div id="form" class="bounceIn">    <!-- Signin form -->
                    <p>Registrarse</p><br>
                    <form #aSignInForm="ngForm">
                        <div id="messageError" *ngIf="userExistes"><p>¡El nombre de usuario ya existe!</p></div>
                        <div id="label">
                          <label for="fullName">Nombre</label>
                          <input type="text" id="fullName" name="fullName" required [(ngModel)]="signin.fullName">
                        </div>

                        <div id="label">
                          <label for="user">Nombre de usuario</label>
                          <input type="text" id="user" name="user" required [(ngModel)]="signin.user">
                        </div>

                        <div id="label">
                            <label for="password">Clave</label>
                            <input type="password" id="password" required name="password" [(ngModel)]="signin.password">
                          
                        </div>
                        <div id="label">
                            <label for="responsible">¿Posee un restaurante?</label>
                            <input type="radio" name="responsible" [(ngModel)]="responsible" value="true">Sí
                            <input type="radio" name="normal" [(ngModel)]="responsible" value="false">No
                        </div>

                        <div id="messageError2" *ngIf="registrationFieldsEmpty"><p>¡Debe completar todos los campos!</p></div>
                        <br>
                        
                        <button type="submit" id="buttonForm" (click)="signInUser();"> Aceptar </button>
                        <button type="button" id="buttonForm" (click)="cancelSignIn();"> Cancelar </button>
                    </form>
              </div>
          </div>
          <ng-template #showResultSingin> <!-- Finish to register, it shows the result of the operation-->
              <div id="registrationResult" class="animated tada">
                  <p>{{resultMessage}}</p><br>
                  <button type="button" id="buttonForm" (click)="endRegistration();"> Aceptar </button>
              </div>
          </ng-template>
    </ng-template>
</div>