<div id="contentDiv">
    <div id="formDiv"> 

        <h1>Alta men&uacute;</h1>
        <form #menuForm="ngForm">
          
          <!--NAME-->
          <div id="field">
            <label>Nombre</label>
            <input type="text" id="input" [(ngModel)]="menu.name" name="name">
          </div>
    
          <!--MENU TYPE-->
          <div id="field">
            <label>Tipo de men&uacute;</label>
            <select id="input" [(ngModel)]="menuType.oid" name="menuType">
              <option *ngFor="let type of menuTypes" [value]="type.oid">{{type.name}}</option>
            </select>
          </div>

          <!--TAGS-->
          <div id="field">
            <label>Tags</label>
            <div id="input">
              <label id="checkbox" *ngFor="let tag of tags">
                  <input type="checkbox" name="tag" [(ngModel)]="tag.selected">{{tag.name}}
              </label>
            </div>
          </div>

          <button type="button" class="submit" (click)="addMenu();">Agregar</button>
        

        </form>
    </div>
</div>