<div id="frame">
    <div id="frameTitle">
          <H2>PANEL DE CONTROL</H2>
          <H3>Tipo de men&uacute;</H3>
    </div>
    <div id="frameBody">

            <!--FORM TO ADD OR UPDATE A MENU TYPE-->
            <div id="frameAdd">
                <div id="form"> 
                        <div *ngIf="showAddForm; else editFormTitle"><p>Nuevo</p></div>
                        <ng-template #editFormTitle><p>Editar</p></ng-template>

                        <form (ngSubmit)="onSubmit()" #saveMenuTypeForm="ngForm">
                        <div id="label">
                            <label for="name">Nombre</label>
                            <input type="text" id="name" required
                                [(ngModel)]="menuType.name" name="name"
                                #name="ngModel">
                                <div [hidden]="!(submited&&menuType.name.length==0)"  class="alert alert-danger">
                                    Debes ingresar un nombre
                                </div>
                        </div>


                        <div *ngIf="showAddForm; else editFormButtons">
                            <button type="button" class="submit" (click)="agregar();">Agregar</button>
                        </div>
                        <ng-template #editFormButtons>
                            <button type="button" id="buttonEdit" (click)="editMenuType();">Aceptar</button>
                            <button type="button" id="buttonEdit" (click)="buttonCancelEdit();">Cancelar</button>
                        </ng-template>
                        
                        </form>
                </div>
            </div>

          <!--LIST OF EXISTING MENU TYPE-->
          <div id="frameList">
              <div id="list">
                  <p >Listado</p>
                  <ul>
                      <li *ngFor="let type of menuTypes">
                      <span id="itemList">{{type.name}}</span>
                      <button id="buttonList" type="button" (click)="deleteMenuType(type);"><img src="../../assets/images/deleteW.png"></button>
                      <button id="buttonList" type="button" (click)="buttonEdit(type);"><img src="../../assets/images/editW.png"></button>
                      </li>
                  </ul>
              </div>
          </div>
    </div>
</div>