<div id="toggler">
	<input type="checkbox" [(ngModel)]="show" (click)="toggleShow()"/>&nbsp;Show Messages
</div>
<div id="messages" class="message_body">

	<!-- Left Box -->
	<div id="messages_left_box">
	  	<span class="messages_title">Status Messages</span>
	  	<button id="clear" class="clear" (click)="messageService.clear()">Clear</button>
 	</div>
 
	<!-- Right Box -->  
  	<div id="messages_right_box">
  		<div *ngFor="let message of messageService.messages" class="status_message"> {{message}} </div>
  	</div>
</div>