<header>
    <div id="menu">
        <div  id="logo">
            <a routerLink="/principal">RATATOULLIE</a>
        </div>
        <nav>
            <div class="dropDownMenu">
                    <button type="button" (click)="showMenu()" class="dropButton"><img src="../../assets/images/menu.png"></button>
                    <div *ngIf="buttonPressed" id="myDropdown" class="dropDown-content">
                      <a href="#">Recomendaciones</a>
                      <a href="/myRestaurants">Mis restaurantes</a>
                      <a href="#">Notificaciones</a>
                      <button type="button" id="buttonExit" (click)="userLogout();">Salir</button>
                    </div>
            </div>
        </nav>
    </div>
</header>
<div class="messages">
    <app-messages></app-messages>
</div>



